h1 {
    padding-top: 3%;
    text-align: center;
}

.upload-file-form {
    font-size: 18px;
}

form label.input-label {
    width: 6%;
    height: 30px;
    margin-left: 47%;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

form label.input-label:hover {
    background-color: gray;
}

.upload-file-form button {
    width: 5%;
    margin-left: 47.5%;
    margin-top: 12px;
}

.file-upload {
    display: none;
}


