h1 {
    padding-top: 3%;
    padding-left: 1%;
}

label {
    font-size: 22px;
    padding-left: 1%;
    margin-top: -1%;
    width: 100%;
}

.download-button {
    background-color: #72A0C1;
    border: none;
    border-radius: 10px;
    height: 36px;
    text-align: center;
    width: 6%;
    margin-left: 1%;
    margin-top: 5px;
    transition: background-color 0.2s ease;
}

.download-button:hover {
    background-color: #00308F;
}

.download-button a {
    text-decoration: none;
    color: #F0F0F0;
    font-size: 20px;
}

img {
    margin-left: 1%;
    width: 10%;
    height: 10%;
}