{% extends 'base.html' %}
{% load static %}
{% block css_links %}
<link rel="stylesheet" href="{% static 'user_profile/css/delete_profile_styles.css' %}">
{% endblock %}
{% block title %}
{{ user }}
{% endblock %}
{% block content %}
<h1>Delete profile</h1>
<form method="post">
    {% for field in form %}
        {% for error in field.errors %}
            <label class="error">{{ error }}</label><br>
        {% endfor %}
    {% endfor %}
    <label class="input-label">Password:</label> {{ form.password }}<br>
    {% csrf_token %}
    <button type="submit" class="btn btn btn-danger delete-btn">Delete</button>
</form>
{% endblock %}