{% extends 'base.html' %}
{% load static %}
{% block css_links %}
<link rel="stylesheet" href="{% static 'authorization/css/authorization_styles.css' %}">
{% endblock %}
{% block title %}
Log In
{% endblock %}
{% block content %}
<h1 class="authorization">Authorization</h1>
<form method="post" class="login-form">
    {% for field in form %}
    {% for error in field.errors %}
    <label class="error">{{ error }}</label><br>
    {% endfor %}
    {% endfor %}
    <label class="username">Username:</label> {{ form.username }}<br>
    <label class="password">Password:</label> {{ form.password }}<br>
    {% csrf_token %}
    <button type="submit" class="btn btn-success login-button">Log In</button>
</form>
<label class="create-account">Don't have an account? <a href="{% url 'registration' %}">Create</a> it now!</label><br>
{% endblock %}